<!--  start adding poll using reactive form  -->
<div class="container mt-5">
  <h2>Add New Poll</h2>
  <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="mb-3">
      <label for="summary" class="form-label">Summary</label>
      <textarea id="summary" class="form-control" formControlName="summary" ></textarea>
    </div>
    <div class="mb-3">
      <label for="startsAt" class="form-label">Starts At</label>
      <input type="date" id="startsAt" class="form-control" formControlName="startsAt">
    </div>
    <div class="mb-3">
      <label for="endsAt" class="form-label">Ends At</label>
      <input type="date" id="endsAt" class="form-control" formControlName="endsAt">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="pollForm.invalid">Create Poll</button>
  </form>
</div>
<!--  end adding poll using reactive form  -->
  <!-- list of polls -->
<div class="container mt-5">
  <h2>Polls List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Summary</th>
        <th>Is Published</th>
        <th>Starts At</th>
        <th>Ends At</th>
      </tr>             
    </thead>
    <tbody>
      <tr *ngFor="let poll of pollRes">
        <td>{{ poll.id }}</td>
        <td>{{ poll.title }}</td>
        <td>{{ poll.summary }}</td>
        <td>{{poll.isPublished}}</td>
        <td>{{ poll.startsAt | date }}</td>
        <td>{{ poll.endsAt | date }}</td>
      </tr>
    </tbody>
  </table>
</div>

   
<!-- end list of polls -->
  