
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
    <h1> 
        Welcome Back
    </h1>
    <p>Please sign in to your account</p>
</div>
<form [formGroup]="loginForm" class="login-form">
   

        <!-- Error Message -->
         <div 
              *ngIf="errorMessage" 
              class="alert alert-error">
            {{ errorMessage }}
         </div>

        <!-- Email Field -->
        <div class="form-group">

        <label for="email">Email Address</label>
        <input 
        type="email" 
        formControlName="email" 
        id="email"
        class="form-control"
        placeholder="Enter your email"
        [class.error]="email?.invalid && email?.touched"
        >

        <div
        *ngIf="email?.invalid && email?.touched" class="error-message">
        <span *ngIf = "email?.errors?.['required']">Email is required</span>
        <span *ngIf = "email?.errors?.['email']">Please enter a valid email</span>

        </div>

        </div>
        <!-- Password Field -->
        <div class="form-group">
        <label for="password">Password</label>
        <div class="password-input-wrapper">
             <input [type]="showPassword ? 'text' : 'password'" 
                formControlName="password" 
                id="password"
                class="form-control"
                placeholder="Enter your password"
                [class.error]="password?.invalid && password?.touched">
            <button
            type="button"
            class="password-toggle"
            (click)="togglePasswordVisibility()"
            >
                <span *ngIf="!showPassword">👁️</span>
                <span *ngIf="showPassword">👁️‍🗨️</span>
            </button></div>
       
        <!-- password eror -->
        <div *ngIf="password?.invalid && password?.touched"
        class="error-message">
        <span *ngIf = "password?.errors?.['required']">Password is required</span>
        <span *ngIf = "password?.errors?.['minlength']">Password must be at least 6 characters</span>
        </div>
        </div>
    
        <button
            type="submit"
            class="btn-submit"
            [disabled]="loading"
            (click)="login()"
        >
        <span *ngIf = "!loading">Sign In</span>
        <span *ngIf = "loading" class = "loading-spinner">
            <div class="spinner"></div> Loading...
        </span>
        </button>
</form>

    </div>
</div>
